<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Howie's Site">
  <meta name="author" content="Howie Ross">

  <title>Howie Ross's Site</title>

  <link href='https://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="styles.css" rel="stylesheet" type="text/css">

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="jumbotron">
  </div>
  <div class="container">
      <h1>Hello, I’m Howie Ross</h1>

      <p>
        I’m the Director of Engineering at, Cloud Hosting Provider,
        <a href="https://www.linode.com/">Linode</a>.
        I've lectured for the UX/IxD Masters
        program at Thomas Jefferson University and spoke at conferences, meetups and bootcamps.
        I organize
        <a href="https://www.meetup.com/CTO-School-Philadelphia/">CTO School
        Philly</a>, a meet up for local tech leaders. I’m on the board of the
        <a href="http://www.awesomefoundation.org/en/chapters/philadelphia" />
        Philly Awesome Foundation </a>
      </p>
      <p>
        I’ve been building stuff on the internet for almost 15 years and building
        and leading teams for about the past 6.
      </p>
      <p>
        For fun, I mostly like to get outside whether that be on foot; running or
        hiking, on bike, board or dangling from a rock face.
      </p>
      <p>
        I’m also into beer, which I’ve been brewing for over a decade and I’m a
        recent convert to coffee geekism.
      </p>
      <div class="icons">
      <a href="https://twitter.com/howdiz">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/howardross">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/howdiz/">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://github.com/howdiz">
        <i class="fa fa-github"></i>
      </a>
    </div>
    </div>
</body>
