.jumbotron {
  background-image: url(goodone.jpg);
  background-repeat: no-repeat;
  background-color: white;
  color: white;
  min-height: 250px;
}

@media only screen and (min-width : 321px) {
  .jumbotron {
    min-height: 575px;
    background-position: center;

  }
}
@media only screen and (min-width : 768px) {
  .jumbotron {
    min-height: 600px;

  }
}
@media only screen and (min-width : 1024px) {
  .jumbotron {
    min-height: 600px;
  }
}

.fa {
  font-size:36px;
  color:black;
}
.icons {
  width: 138px;
  margin: auto;
}
